<p id="notice"><%= notice %></p>

<p>
  <strong>orderable:</strong>
  <%= @order.orderable_id %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @order.total_amount %>
</p>
<% if @order.date.present? %>
<p>
  <strong>Date:</strong>
  <%= @order.date %>
</p>
<p>
  <strong>start_time:</strong>
  <%= @order.start_time %>
</p>

<p>
  <strong>end_time:</strong>
  <%= @order.end_time %>
</p>
<% end %>

<% if defined? @order.orderable.duration %>
<p>
  <strong>Duration:</strong>
  <%= @order.orderable.duration %>
</p>
<% end %>

<% if @order.qty.present? %>
<p>
  <strong>Quantity:</strong>
  <%= @order.qty %>
</p>
<% end %>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
