

<!-- carts_index_page -->
  
<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full">
          <thead class="bg-white border-b">
            <tr>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
               Order id
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Product/Product Services Name
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Desc
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Qty
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Date
              </th>
               <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Start Time
              </th>
               <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                End Time
              </th>
               <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Duration
              </th>
               <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Total Amount
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left"  >
                Actions
              </th>
             
            </tr>
          </thead>
          <tbody>
          <% @orders = Order.where(user_id:  current_user.id, cart: "true")%>
            <% @orders.each do |cart| %>          
            <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= cart.orderable_id %></td>
               <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
               <% if defined? cart.orderable.product.name %>
              <%= cart.orderable.product.name %></td>
              <% else %>
              <%= cart.orderable.name %></td>
              <% end %>              
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              <% if defined? cart.orderable.product.desc %>
               <%= cart.orderable.product.desc %></td>
              <% else %>
              <%= cart.orderable.desc %></td>
              <% end %>
               <%= form_for Order.new do |f| %>
                    
                     <% if defined? cart.qty != nil %>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"> <%= f.number_field :qty, value: cart.qty, id: "qty", onchange:"changeqty(this.value,#{cart.id},#{cart.orderable.price },#{cart.total_amount})" %></td>
               <% end %>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= cart.date %></td>
                <% if defined?  cart.orderable.start_time != nil %>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= cart.orderable.start_time %></td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= cart.orderable.end_time %></td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= cart.orderable.duration %></td>
              <% end %>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= f.number_field :total_amount, id: "total_amount#{cart.id}", value: cart.total_amount, :readonly => true %></td></td>
              
             <td>
                        <button  >
                          <%= link_to 'Destroy', cart, method: :delete, data: { confirm: 'Are you sure?' }, class:"bg-red-500 hover:bg-red-700 text-white text-center py-2 px-4 rounded" %>
                        </button>
              </td>
             </tr>
              <script>
                            function changeqty (qty,order_id,price)
                            {
                                var newPrice=price*qty;
                                document.getElementById("total_amount"+order_id).value = newPrice;  
                                $.ajax({

                                    url: "/carts/update_qty",
                                    type: "post",
                                    data: "qty="+qty+"&order_id="+order_id+"&new="+newPrice
                                });
                            }
                    
                            function changetime (time,order_id,price,orderabletime)
                            {
                                var newPrice= time*(price);
                                document.getElementById("total_amount"+order_id).value = newPrice;  
                                $.ajax({
                                    url: "/carts/update_time",
                                    type: "post",
                                    data: "time="+time+"&order_id="+order_id+"&new="+newPrice
                                });
                            }
                </script>
               <% end %>            
          <% end %>
          </tbody>
        </table>
        <button><%= link_to "Pay Now", carts_pay_now_path, class:"bg-green-500 hover:bg-green-700 text-white text-center py-2 px-4 rounded" %></button>
      </div>
    </div>
  </div>
</div>










