<%= form_for @product do |form| %>
        <% if product.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

            <ul>
              <% product.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <div class ="flex">
            <div class="field">
              <%= form.label :name, class:"block text-gray-500 font-bold md:text-center mb-1 md:mb-0 pr-4" %>
              <%= form.text_field :name, class:"bg-gray-200 appearance-none border-2 border-gray-200 rounded  py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>
            </div>  

            <div class="field">
              <%= form.label :desc, class:"block text-gray-500 font-bold md:text-center mb-1 md:mb-0 pr-4" %>
              <%= form.text_area :desc, class:"bg-gray-200 appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>
            </div>  
      </div>
          <div class="actions text-left">
            <%= form.submit class:"bg-blue-500 hover:bg-blue-700 text-white text-left font-bold py-2 px-4 rounded" %>
          </div>
     
<% end %>
