   <b>Search Here!! </b>
   <%= form_tag  @product, method: :get do  %> 
							<%= text_field_tag :search_query, @query, class:"bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-1 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>
							<%  submit_tag "Search", name: nil %>
						<% end %>
  

<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full">
          <thead class="bg-white border-b">
            <tr>
              <th scope="col" class="text-xl text-center text-blue-900 italic">
                <b>Image</b>
              </th>
              <th scope="col" class="text-xl text-center text-blue-900 italic">
                <b>Name</b>
              </th>
              <th scope="col" class="text-xl text-center text-blue-900 italic">
                <b>Category</b>
              </th>
              <th scope="col" class="text-xl text-center text-blue-900 italic">
                <b>Desc</b>
              </th>
              <th scope="col" class="text-xl text-center text-blue-900 italic">
               <b>Actions</b>
              </th>          
            </tr>
          </thead>
          <tbody>
        
           <% @products.each do |product| %>              
            <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
              <td width=10% height=90px >
                  <% if product.main_image.attached? %>
                      <% if product.main_image.attached? %>
                      <%= image_tag product.main_image %>
                      <% end %>
                   <% else %>
                          <%= image_tag ('no_image.png') %>                  
                   <% end %>
              </td>                  
              <td class="px-6 py-4 whitespace-nowrap text-l font-medium italic text-gray-900"><%= product.name %>
                    <% if product.discarded? %>
                      <h1 class="text-xl text-red-900 italic">DELETED</h1>
                    <% end %>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-l font-medium italic text-gray-900"><%= product.category.name %></td>
              <td class="text-sm text-gray-900 text-l font-light px-6 py-4 italic whitespace-nowrap"><%= product.desc %></td>
              <td><button ><%= link_to 'Show', product, class:"bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %> </button> 
                <button  ><%= link_to 'Edit', edit_product_path(product), class:"bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" if signed_in? && policy(product).update? %> </button>
                <button  ><%= link_to 'Permanent Destroy', product, class:"bg-red-500 hover:bg-red-700 text-white text-center py-2 px-4 rounded", method: :delete, data: { confirm: 'Are you sure?' } if signed_in? && (current_user.role == "admin") %></button>
                <button  ><%= link_to 'Destroy', products_soft_destroy_path(id: product.id), class:"bg-red-500 hover:bg-red-700 text-white text-center py-2 px-4 rounded", method: :post, data: { confirm: 'Are you sure?' } if signed_in? && policy(product).destroy? && !product.discarded? %></button>          
              </td>             
            </tr>            
            <% end %>           
          </tbody>
        </table>
            <div class= "bg-blue-500 hover:bg-blue-400 text-black text-center font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded" ><%== pagy_nav(@pagy)  %></div>
          <button> <%= link_to 'New Product', new_product_path, class:"bg-green-500 hover:bg-green-700 text-white text-center py-2 px-4 rounded" if signed_in? && policy(@products).create? %> </button>
      </div>
    </div>
  </div>
</div>

